*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    position: relative;
    background-color: hsl(210, 11%, 15%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bg {
    position: absolute;
    width: 100%;
    height: 55%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/images/bg.jpg");
    z-index: -1;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}

article {
    padding: 2rem;
    background-color: hsl(210, 10%, 17.5%);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
}

h1 {
    margin-top: 4rem;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h1 span {
    background: linear-gradient(to right, #77C3FE, #2CBCED);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}   

#sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub label {
    margin-top: 2rem;
}

select {
    margin: 0.5rem 0 2rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    border: #7D7D7D 2px solid;
    background-color: #1E2124;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    transition: background-color 0.25s ease-in-out;
}

select:hover {
    background-color: hsl(210, 9%, 10%);
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#top div {
    height: 100%;
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: center;
}

#top i {
    font-size: 3em;
}

#in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#in input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: #7D7D7D 2px solid;
    border-bottom: none;
    background-color: #1E2124;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

#in label {
    width: 100%;
    font-size: 1em;
    padding: 0.25rem;
    border: #7D7D7D 2px solid;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #1E2124;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

#arrow {
    width: 20% !important;
}


button {
    margin-top: 2rem;
    position: relative;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.25em;
    border-radius: 0.5rem;
    border: #7D7D7D 2px solid;
    background-color: #1E2124;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    z-index: 1;
    width: auto;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #1E2124, #022B55);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: -1;
    opacity: 0;
}

button:hover::before {
    opacity: 1;
}

button:hover {
    cursor: pointer;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 600;
    font-size: 3em;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

footer {
    color: white;
    margin-top: 3rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(210, 10%, 12.5%); 
    font-weight: 300;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

footer p {
    width: 60%;
    font-size: 0.9em;
}

#master {
    font-size: 1.25em;
    color: #77C3FE;
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    #bg {
        height: 40%;
    }

    h1 {
        margin: 2rem 2rem 0 2rem;
        font-size: 2.25em;
    }

    article {
        width: 80%;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        height: auto;
    }

    #top {
        flex-direction: column;
    }

    #top div{
        width: 100%;
    }

    #top in {
        width: 100%;
    }

    #arrow {
        margin: 2rem;
    }

    h2 {
        display: flex;
        flex-direction: column;
    }
}